h1{
	width: 100%;
	text-align: center;
	background: #e80454;
	font-family: arial;
	font-weight: bolder;
	color: #726268;
}.boldie{
	text-align: center;
	background: #a6e559;
	font-family: verdana;
	color: #4c593c;
	margin: 8px;
	padding: 5px;
}
img{
	width: 100%;
}
